USE [Huella]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 29/03/2023 12:50:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[Foto] [image] NULL,
	[Cedula] [varchar](20) NULL,
	[Nombre] [varchar](30) NULL,
	[PrimerApellido] [varchar](30) NULL,
	[SegundoApellido] [varchar](30) NULL,
	[Ficha] [varchar](15) NULL,
	[Area] [varchar](300) NULL,
	[Usuario] [varchar](15) NULL,
	[FechaFinalizaciondelPrograma] [datetime] NULL,
	[Huella] [varbinary](max) NULL,
	[NoDedo] [int] NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registros]    Script Date: 29/03/2023 12:50:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registros](
	[Id_Entrada] [int] IDENTITY(1,1) NOT NULL,
	[IdPersona] [int] NULL,
	[Fecha_Entrada] [datetime] NULL,
	[Registro_Entrada] [varchar](1) NULL,
	[Fecha_Salida] [datetime] NULL,
	[Registro_Salida] [varchar](1) NULL,
	[Cedula] [varchar](20) NULL,
	[Usuario] [varchar](15) NULL,
 CONSTRAINT [PK_Registros] PRIMARY KEY CLUSTERED 
(
	[Id_Entrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 29/03/2023 12:50:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Foto] [image] NULL,
	[Cedula] [varchar](20) NULL,
	[Nombre] [varchar](100) NULL,
	[Correo] [varchar](100) NULL,
	[Usuario] [varchar](15) NULL,
	[Contrasena] [varchar](500) NULL,
	[Rol] [varchar](13) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Personas] ON 

SET IDENTITY_INSERT [dbo].[Personas] OFF
GO
SET IDENTITY_INSERT [dbo].[Registros] ON 

INSERT [dbo].[Registros] ([Id_Entrada], [IdPersona], [Fecha_Entrada], [Registro_Entrada], [Fecha_Salida], [Registro_Salida], [Cedula], [Usuario]) VALUES (71, 22, CAST(N'2023-03-29T00:39:37.227' AS DateTime), N'A', CAST(N'2023-03-29T00:39:44.733' AS DateTime), N'I', N'14702488', N'Invitado')
INSERT [dbo].[Registros] ([Id_Entrada], [IdPersona], [Fecha_Entrada], [Registro_Entrada], [Fecha_Salida], [Registro_Salida], [Cedula], [Usuario]) VALUES (72, 22, CAST(N'2023-03-29T00:41:44.157' AS DateTime), N'A', CAST(N'2023-03-29T00:41:48.890' AS DateTime), N'I', N'14702488', N'Invitado')
SET IDENTITY_INSERT [dbo].[Registros] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Personas__B4ADFE38CB43BD66]    Script Date: 29/03/2023 12:50:01 a. m. ******/
ALTER TABLE [dbo].[Personas] ADD UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__B4ADFE38DAECFD23]    Script Date: 29/03/2023 12:50:01 a. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Registros]  WITH CHECK ADD  CONSTRAINT [FK_Registros_Personas] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Personas] ([IdPersona])
GO
ALTER TABLE [dbo].[Registros] CHECK CONSTRAINT [FK_Registros_Personas]
GO
